h1 {
  color: blue;
}

h2 {
  color: blueviolet;
}

body {
  background-color: lavender;
  font-family: sans-serif;
  text-align: center;
}

ul {
  list-style-position: inside;
}

p {
  color: rgb(220, 20, 160);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}